{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Stufe 4: Ende und Auszahlung
{% endblock %}

{% block content %}

Die Basis-Vergütung für pünktliches Erscheinen beträgt 10 €. <br />
Für Sie wird nun aus einer zufälligen Stufe dieses Experiments ein zufälliger Snack gezogen. <br />


<br />
<input type="hidden" name="p_label" value="{{p_label}}" id="p_label"/>
<input type="hidden" name="rand_snack" value="{{random_snack}}" id="rand_snack"/>
<input type="hidden" name="rand_price" value="{{random_price}}" id="rand_price"/>
<input type="hidden" name="step_payout" value="{{step}}" id="step_payout"/>

{% if step == 1 or step == 4 %}
  {% if participant_WTP >= random_price %}
      <input type="hidden" name="payout1_snack" value="{{random_snack}}" id="payout1_snack"/>
      <input type="hidden" name="payout1_payoff" value="{{payoff_with_snack}}" id="payout1_payoff"/>
  {% else %}
    <input type="hidden" name="payout1_snack" value="-" id="payout1_snack"/>
    <input type="hidden" name="payout1_payoff" value="{{payoff_without_snack}}" id="payout1_payoff"/>
  {% endif %}
  {% if participant_WTP2 >= random_price %}
    <input type="hidden" name="payout2_snack" value="{{random_snack2}}" id="payout2_snack"/>
    <input type="hidden" name="payout2_payoff" value="{{payoff_with_snack}}" id="payout2_payoff"/>
  {% else %}
    <input type="hidden" name="payout2_snack" value="-" id="payout2_snack"/>
    <input type="hidden" name="payout2_payoff" value="{{payoff_without_snack}}" id="payout2_payoff"/>
  {% endif %}
  {% if participant_WTP3 >= random_price %}
    <input type="hidden" name="payout3_snack" value="{{random_snack3}}" id="payout3_snack"/>
    <input type="hidden" name="payout3_payoff" value="{{payoff_with_snack}}" id="payout3_payoff"/>
  {% else %}
    <input type="hidden" name="payout3_snack" value="-" id="payout3_snack"/>
    <input type="hidden" name="payout3_payoff" value="{{payoff_without_snack}}" id="payout3_payoff"/>
  {% endif %}
  {% if participant_WTP4 >= random_price %}
    <input type="hidden" name="payout4_snack" value="{{random_snack4}}" id="payout4_snack"/>
    <input type="hidden" name="payout4_payoff" value="{{payoff_with_snack}}" id="payout4_payoff"/>
  {% else %}
    <input type="hidden" name="payout4_snack" value="-" id="payout4_snack"/>
    <input type="hidden" name="payout4_payoff" value="{{payoff_without_snack}}" id="payout4_payoff"/>
  {% endif %}
  {% if participant_WTP5 >= random_price %}
    <input type="hidden" name="payout5_snack" value="{{random_snack5}}" id="payout5_snack"/>
    <input type="hidden" name="payout5_payoff" value="{{payoff_with_snack}}" id="payout5_payoff"/>
  {% else %}
    <input type="hidden" name="payout5_snack" value="-" id="payout5_snack"/>
    <input type="hidden" name="payout5_snack" value="{{payoff_without_snack}}" id="payout5_snack"/>
  {% endif %}
{% endif %}

{% if step == 2 or step == 3 %}
  <input type="hidden" name="payout1" value="{{random_snack}}" id="payout1_snack"/>
  <input type="hidden" name="payout2" value="{{payoff_with_snack}}" id="payout1_payoff"/>
  <input type="hidden" name="payout3" value="{{random_snack2}}" id="payout2_snack"/>
  <input type="hidden" name="payout4" value="{{payoff_with_snack}}" id="payout2_payoff"/>
  <input type="hidden" name="payout5" value="{{random_snack3}}" id="payout3_snack"/>
  <input type="hidden" name="payout6" value="{{payoff_with_snack}}" id="payout3_payoff"/>
  <input type="hidden" name="payout7" value="{{random_snack4}}" id="payout4_snack"/>
  <input type="hidden" name="payout8" value="{{payoff_with_snack}}" id="payout4_payoff"/>
  <input type="hidden" name="payout9" value="{{random_snack5}}" id="payout5_snack"/>
  <input type="hidden" name="payout10" value="{{payoff_with_snack}}" id="payout5_payoff"/>
{% endif %}

<br />
<br />
<br />
<b>Wichtig:</b> Bitte klicken Sie weiter, um das Experiment zu beenden.<br />
Wenn alle Teilnehmer das Experiment beendet haben, ruft der Experimentator Sie auf.<br />
<br />
    {% next_button %}
{% endblock %}
