{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block title %}
    Stufe 1: Wieviel würden Sie für dieses Konsumgut maximal zahlen?
{% endblock %}


{% block styles %}
<link href="{% static "css/BDM.css" %}" rel="stylesheet" />
<link href="{% static "css/General.css" %}" rel="stylesheet" />
{% endblock %}


{% block scripts %}
<script src="{% static "js/RevealNextButtonOnSliderInteraction.js" %}"></script>
<script>
function showWTP(val) {
    document.getElementById("participant_wtp").innerHTML = val;
}
</script>

{% endblock %}


{% block content %}
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

<img src="{% static image_path %}"/>
<input type="hidden" name="p_label" value="{{p_label}}" id="p_label"/>

<br />
<br />
<div>
    <div class="rangelabelleft">0 €</div>
    <div class="rangelabelright">5 €</div>
</div>
 <form>
 	<input name="slider_value" id="wtp" type="range" min="0"
 	value="0" max="5" step="0.1" oninput="showWTP(this.value)">
 	<output name="participant_wtp" for="wtp" id="participant_wtp">0</output>
 </form>


<br />

<input type="hidden" name="rated_snack" value="{{snack}}" id="rated_snack"/>
<br />
{{ left }} von {{ Constants.num_snacks }} Snacks bewertet
<br />
<br />
<div>
  <div id="nextButton" class="nextbutton initiallyHidden">
    {% next_button %}
  </div>
</div>
{% endblock %}
